<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #1F2833;
  color: white;
  margin: 0;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #4CAF50;
}
</style>
</head>
<body>
<h2>DIET Table</h2>
<p><b>Note:</b>The following table has been generalised for all ages and genders!!</p>
<table>
  <tr>
    <th>Morning</th>
    <th>Lunch</th>
    <th>Evening</th>
  </tr>
  <tr>
    <td>Boiled Yam + Hot Beverage</td>
    <td>Rice + Beef/Chicken stew</td>
    <td>Ugali + kienyeji + fruit</td>
  </tr>
  <tr>
    <td>Boiled Yam + Hot Beverage</td>
    <td>Fast</td>
    <td>Ugali + Beef + Kienyeji</td>
  </tr>
  <tr>
    <td>Sweet Potatoes + Hot Beverage</td>
    <td>Rice + Beans + Fruit</td>
    <td>Ugali + kienyeji</td>
  </tr>
  <tr>
    <td>Boiled Yam + Hot Beverage</td>
    <td>Rice + Potatoes</td>
    <td>Ugali + Beef + Fruit</td>
  </tr>
  <tr>
    <td>Fried potatoes + Hot Beverage</td>
    <td>Ugali + Kales</td>
    <td>Potatoes mixed with boiled bananas</td>
  </tr>
  <tr>
    <td>Fried potatoes + Hot Beverage</td>
    <td>Ugali + Beef</td>
    <td>Several fruits + one egg</td>
  </tr>
</table>
<p>>For better meal planning, visit our site<a href="https://verywellfit.com"> "Verywellfit"</a> and be a healthy chap.</p>
</body>
</html>